{% block start %}
<div class="container">
    <form class="form" method="post" id="form">
        {% csrf_token %}
        <h4>Change Password</h4>

        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}

        <!-- New Password -->
        <label for="new_password">New Password</label>
        <input type="password" id="new_password" name="new_password" placeholder="Enter your new password" required>

        <!-- Confirm Password -->
        <label for="confirm_password">Confirm Password</label>
        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm your new password" required>

        <!-- Submit Button -->
        <button class="btn" type="submit">Submit</button>
    </form>
</div>
{% endblock %}
